### https://medium.com/vickdata/a-simple-guide-to-scikit-learn-pipelines-4ac0d974bdcf

In [1]:
import pandas as pd
df = pd.read_csv('Chapter_1_cleaned_data.csv')
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month,EDUCATION_CAT,graduate school,high school,none,others,university
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,1,university,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,1000,0,2000,1,university,0,0,0,0,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,1000,1000,5000,0,university,0,0,0,0,1
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,1100,1069,1000,0,university,0,0,0,0,1
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,9000,689,679,0,university,0,0,0,0,1

In [3]:
X = df.drop('default payment next month', axis=1)
y = df[['default payment next month']]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### Numeric and Categorical Tranformer

In [4]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26664 entries, 0 to 26663
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          26664 non-null  object
 1   LIMIT_BAL                   26664 non-null  int64
 2   SEX                         26664 non-null  int64
 3   EDUCATION                   26664 non-null  int64
 4   MARRIAGE                    26664 non-null  int64
 5   AGE                         26664 non-null  int64
 6   PAY_1                       26664 non-null  int64
 7   PAY_2                       26664 non-null  int64
 8   PAY_3                       26664 non-null  int64
 9   PAY_4                       26664 non-null  int64
 10  PAY_5                       26664 non-null  int64
 11  PAY_6                       26664 non-null  int64
 12  BILL_AMT1                   26664 non-null  int64
 13  BILL_AMT2                   26664 non-null  int64
 14  BILL_AMT3                   26664 non-null  int64
 15  BILL_AMT4                   26664 non-null  int64
 16  BILL_AMT5                   26664 non-null  int64
 17  BILL_AMT6                   26664 non-null  int64
 18  PAY_AMT1                    26664 non-null  int64
 19  PAY_AMT2                    26664 non-null  int64
 20  PAY_AMT3                    26664 non-null  int64
 21  PAY_AMT4                    26664 non-null  int64
 22  PAY_AMT5                    26664 non-null  int64
 23  PAY_AMT6                    26664 non-null  int64
 24  default payment next month  26664 non-null  int64
 25  EDUCATION_CAT               26664 non-null  object
 26  graduate school             26664 non-null  int64
 27  high school                 26664 non-null  int64
 28  none                        26664 non-null  int64
 29  others                      26664 non-null  int64
 30  university                  26664 non-null  int64
dtypes: int64(29), object(2)
memory usage: 6.3+ MB

In [12]:
numeric_features = df.select_dtypes(include=['int64', 'float64']).columns
#categorical_features = df.select_dtypes(include=['object']).drop(['default payment next month'], axis=1).columns

In [14]:
# from sklearn.compose import ColumnTransformer
# preprocessor = ColumnTransformer(
#     transformers=[
#         ('num', numeric_transformer, numeric_features),
#         ('cat', categorical_transformer, categorical_features)])

### Model Selection

In [15]:
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
classifiers = [
    KNeighborsClassifier(3),
    SVC(kernel="rbf", C=0.025, probability=True),
    NuSVC(probability=True),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    AdaBoostClassifier(),
    GradientBoostingClassifier()
    ]
for classifier in classifiers:
    pipe = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', classifier)])
    pipe.fit(X_train, y_train)   
    print(classifier)
    print("model score: %.3f" % pipe.score(X_test, y_test))

NameError: name 'preprocessor' is not defined

### Grid Search

In [ ]:
param_grid = { 
    'classifier__n_estimators': [200, 500],
    'classifier__max_features': ['auto', 'sqrt', 'log2'],
    'classifier__max_depth' : [4,5,6,7,8],
    'classifier__criterion' :['gini', 'entropy']}
from sklearn.model_selection import GridSearchCV
CV = GridSearchCV(rf, param_grid, n_jobs= 1)
                  
CV.fit(X_train, y_train)  
print(CV.best_params_)    
print(CV.best_score_)